:root {
    --text-color: #5F564B;
    --main-color: #596638;
    --light-text-color: #DFD5D4;
    --background-color: #DFD5D4;
    --accent-background-color: #CFD2CB;
    --accent-color: #E59500;
  }