@import url("../../styles/colors.css");
.header {
    position: sticky;
    top: 2px;
    background-color: #ddecee92;
    width: 100%;
    height: 80px;
    z-index: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: 60% repeat(3, 10%);
    justify-content: center;
    align-items: center;
}
.title, .link {
    color: var(--main-color);
    margin: 0;
    font-family: system-ui;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}
.link:hover {
	color: var(--accent-color);
}