@import url("../../styles/colors.css");

.container {
    margin: 80px 15%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header, .subheader, .title, .text {
    color: var(--text-color);
    margin: 10px 0;
    font-family: system-ui;
    font-weight: 500;
    text-transform: uppercase;
}
.header {
    font-size: 40px;
    color: var(--main-color);
}
.subheader {
    font-size: 35px;
    color: var(--accent-color);
}
.title {
    font-size: 20px;
}
.text {
    font-size: 20px;
    text-transform: none;
    margin: 20px 0;
    line-height: 30px;
}
.imagePerson {
    width: 100%;
    height: auto;
    padding-left: 5%;
    border-radius: 30%;
}

@media (max-width: 800px) {
    .header, .subheader {
        font-size: 25px;
    }
    .title, .text {
        font-size: 15px;
        line-height: normal;
    }
    .imagePerson {
        width: auto;
        height: 400px;
    }
    .container {
        margin: 80px 10%;
    }
}