@import url("../../styles/colors.css");

.container {
    margin: 80px 15%;
}
.accent {
    color: var(--accent-color);
}
.header, .subheader, .opportunityCarousel {
    color: var(--main-color);
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 2.8px;
}
.header {
    font-size: 40px;
    text-transform: uppercase;
}
.subheader {
    font-size: 35px;
}
.opportunityCarousel {
    display: inline-block;
    color: var(--text-color);
    height: 250px;
    line-height: 40px;
    text-align: left;
    font-size: 20px;
    padding: 20px 0;
}
.buttonCarousel, .buttonCarouselActive {
    cursor: pointer;
    position: relative;
    left: 40%;
    width: 50px;
    height: 10px;
    border-radius: 0 90%;
    border: none;
    margin: 0 20px;
    background-color: #FFFFFF;
}

.buttonCarouselActive {
    background-color: #EDEDED;
}