@import url("../../styles/colors.css");

.mainContainer {
    background: var(--accent-background-color);
    height: 100vh;
    padding: 1% 10%;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headingSecondary,.headingMain, .subheading {
    margin: 10px 0;
    font-family: system-ui;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}
.headingSecondary {
    color: var(--text-color);
    font-size: 60px;
}
.headingMain {
    color: var(--accent-color);
    font-size: 80px;
}
.subheading {
    color: var(--text-color);
    font-size: 28px;
}
.imagePerson {
    width: 600px;
    height: 600px;
    margin-right: 100px;
}
.iconContainer {
    text-align: right;
}
.icon {
    display: inline-block;
    margin: 5px;
}