@import url("../../styles/colors.css");

.container {
    background: var(--accent-background-color);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.headingSecondary,.headingMain, .subheading {
    margin: 10px 0;
    font-family: system-ui;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    text-align: right;
}
.headingSecondary {
    color: var(--text-color);
    font-size: 30px;
}
.headingMain {
    color: var(--accent-color);
    font-size: 60px;
}
.subheading {
    color: var(--text-color);
    font-size: 15px;
}
.imagePerson {
    width: 500px;
    height: 550px;
    margin: 0 50px;
}
.iconVK {
    display: inline-block;
    margin: 20px 20px 0 84%
}
.iconTelegram {
    display: inline-block;
    margin-top: 20px;
}