@import url("../../styles/colors.css");

.container {
    background: var(--accent-background-color);
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 15%;
}
.headingSecondary,.headingMain, .subheading {
    margin: 10px 0;
    font-family: system-ui;
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
}
.headingSecondary {
    color: var(--text-color);
    font-size: 30px;
}
.headingMain {
    color: var(--accent-color);
    font-size: 60px;
}
.subheading {
    color: var(--text-color);
    font-size: 15px;
}
.imagePerson {
    width: 500px;
    height: 550px;
    margin: 0 50px;
}
.iconContainer {
    text-align: right;
}
.icon {
    display: inline-block;
    margin: 5px;
}